@font-face {
  font-family: "proxima-nova-light";
  src: url("/fonts/proxima-nova-light.woff2") format("woff2"), url("/fonts/proxima-nova-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova-light;
}

.logo {
  color: white;
  font-size: 50px;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 1));
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 1));
}

.logoBackground {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  padding: 50px 0;
  background-image: url("https://ul.sbond.co/i/nature/misty-mountain.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*---- Form ----*/

.shortenLink {
  display: flex;
  justify-content: center;
}

.shortenLinkForm {
  width: 100%;
  max-width: 900px;
  margin: 30px 0;
  padding: 0 60px;
}

.linkGeneratedContainer {
  min-height: 30px;
}

.formContainer {
  display: flex;
  flex-flow: column;
}

input,
button,
select {
  grid-area: linkInput;
  outline: none;
  border: none;
  border: 2px solid black;
  font-size: 20px;
  padding: 12px;
  margin: 8px 0;
  background-color: transparent;
  color: black;
  text-overflow: ellipsis;
}

button {
  grid-area: submitButton;
  background-color: transparent;
  color: black;
  border-left: 2px solid black;
  font-weight: bold;
  transition: all 300ms ease-in-out !important;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: black;
}

select {
  grid-area: expiryBox;
  border-left: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 12px;
  font-size: 20px;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

select:invalid {
  color: gray;
}
select:valid {
  color: black;
}

.correct {
  box-shadow: 0 0 5px rgba(4, 148, 28, 1);
}

.incorrect {
  box-shadow: 0 0 5px rgba(200, 30, 30, 1);
}

#linkGenerated {
  font-size: 22px;
}

/*---- Effects ----*/

.boxShadow {
  transition: box-shadow 250ms ease-in-out;
}

.boxShadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

/*---- Loading ----*/

#loadingScreen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://ul.sbond.co/i/gif/loadingcircle.gif) center no-repeat #fff;
}

.spinner {
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-top: 2px solid #000000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
