@font-face {
	font-family: 'proxima-nova-light';
	src: url('/fonts/proxima-nova-light.woff2') format('woff2'),
			 url('/fonts/proxima-nova-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova-light;
}

.logo {
  color: white;
  font-size: 50px;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0,0,0,1));
          filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

.logoBackground {
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('https://ul.sbond.co/i/nature/misty-mountain.jpg');
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*---- Form ----*/

.formContainer {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.8fr;
  grid-template-areas:
  "linkInput expiryBox submitButton";
}

.shortenLink {

}

.shortenLinkForm {
  margin-top: 60px;
  width: 80%;
}

input,button,select {
  grid-area: linkInput;
  outline: none;
  border: none;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-size: 20px;
  padding: 12px;
  background-color: transparent;
  color: black;
  text-overflow: ellipsis;
}

input:focus {

}

button {
  grid-area: submitButton;
  background-color: transparent;
  color: black;
  cursor: pointer;
  border-left: 2px solid black;
	transition: all 0.3s;
}

button:hover {
	color: white;
  background-color: black;
  border-radius: 0 4px 4px 0;
}

select {
  grid-area: expiryBox;
  border-left: 2px solid black;
  background-color: transparent;
  color: black;
  padding: 12px;
  font-size: 20px;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
	cursor: pointer;
}

select:invalid { color: gray; }
select:valid { color: black; }

.correct {
	box-shadow: none;
}

.incorrect {
	box-shadow: 1px 2px 1px rgba(200, 30, 30, 1), 1px -2px 1px rgba(200, 30, 30, 1);
}

@media only screen and (max-width: 900px) {
  .shortenLink {
    width: 100%;
  }
	
  input,button,select {
    border: 2px solid black;
    margin-bottom: 10px;
  }
	
	button:hover {
		border-radius: 0;
	}
	
  .formContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "linkInput"
    "expiryBox"
    "submitButton";
  }
	
	.correct {
		box-shadow: 0 0 5px rgba(4, 148, 28, 1);
	}

	.incorrect {
		box-shadow: 0 0 5px rgba(200, 30, 30, 1);
	}
}

#linkGenerated {
  font-size: 22px;
}

/*---- Effects ----*/

.boxShadow {
	transition: box-shadow .15s ease;
}

.boxShadow:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

/*---- Loading ----*/

#loadingScreen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://ul.sbond.co/i/gif/loadingcircle.gif) center no-repeat #fff;
}
